    
    .vyvod_table {
        font: 30pt arial;
        font-weight: bold;
    }

    .table {
        display: grid;
        grid-template-columns: 10% 40% 20% 35%;
        width: 95%;
        font-weight: bold;
    }

    .table > dt {
        border: 1px solid black;
        
    }

    .title1 {
        font: 20pt arial;
        text-align: center;
        height: auto;
     }

    .title2 {
        font: 20pt arial;
        text-align: center;
        height: auto;
    }

    .title3 {
        height: 30px;
        font: 20pt arial;
    }

    .title4 {
        text-align: center;
        height: 30px;
        font: 20pt arial;
    }
