    
    .vyvod_table {
        font: 30pt arial;
        font-weight: bold;
    }

    .table {
        display: grid;
        grid-template-columns: 10% 33% 15% 17% 25%;
        width: 95%;
        font-weight: bold;
    }

    .table1 {
        display: grid;
        grid-template-columns: 10% 20% 20% 20% 30%;
        width: 95%;
        font-weight: bold;
    }

    .table1 > dt {
        border: 1px solid black;
    }


    .table > dt {
        border: 1px solid black;
    }

    .center20 {
        font: 20pt arial;
        text-align: center;
        height: auto;
    }

    .title3 {
        height: 30px;
        font: 20pt arial;
    }

    .title4 {
        text-align: center;
        height: 30px;
        font: 20pt arial;
    }
